body{
  background: lightblue;
  font-size: 16 px;
  font-kerning: 10px;
  line-height: 32px;
  font-family: 'Acme', sans-serif;
  
  padding:1%;
}
.title{
  justify-content: center;
  display: flex;
}
.jumbotron{
  font-family: 'Luckiest Guy';
  color:White;
  background: blue;
  opacity: 0.8;
  padding: 1%;
}
.view{
  margin-left: 5%;
  margin-right:5%;
}
.directions{
  font-family:"Acme",sans-serif;
  justify-self:center;
  margin-bottom: 1%;
}
.display-3{
  font-size: 64px;
  letter-spacing: 6px;
  justify-self: center;
}
.fav{
  font-size: 24px;
  font-family:"Acme",sans-serif;
}
.addBtn{
  font-family:"Acme",sans-serif;
  margin:2%;
}
.buttonContainer{
  justify-content: space-around;
  display: flex;
  margin:3%;
}
.resultTitle{
  margin-left:10%;
  
}
hr{
  margin-top:1%;
  margin-bottom:2%;
  color:red;
  background: black;
  justify-self: center;
}
.gif{
  margin:2%;
}